body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #222;
  color: white;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #00bfff;
}
